<div class="container">
  <!-- Intestazione sito, sempre visibile -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-top">
    <a class="navbar-brand" href="#">Mono-Rent</a>
  </nav>

  <!-- Bottoni per mostra/nascondi -->
  <div class="jumbotron">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Registrazione</button>
      <button type="button" class="btn btn-secondary">Login</button>
      <button type="button" class="btn btn-success">Noleggio</button>
      <button type="button" class="btn btn-warning">Riconsegna</button>
      <button type="button" class="btn btn-danger">Segnalazione</button>
    </div>
  </div>

  <div class="componenti">
    <!-- Registrazione -->
    <app-registrazione></app-registrazione>

    <!-- Login -->
    <app-login></app-login>

    <!-- Noleggio -->
    <app-noleggio></app-noleggio>

    <!-- Riconsegna -->
    <app-riconsegna></app-riconsegna>

    <!-- Segnalazione -->
    <app-segnalazione></app-segnalazione>
  </div>
</div>
