<div class="container">
  <!-- Intestazione sito, sempre visibile -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-top">
    <a class="navbar-brand" href="#"><i>Mono-Rent</i></a>
  </nav>

  <!-- Bottoni per mostra/nascondi -->
  <div class="navbar justify-content-center menu fixed-top">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)='regis()'>Registrazione</button>
      <button type="button" class="btn btn-secondary" (click)='login()'>Login</button>
      <button type="button" class="btn btn-success" (click)='noleg()'>Noleggio</button>
      <button type="button" class="btn btn-warning" (click)='ricon()'>Riconsegna</button>
      <button type="button" class="btn btn-danger" (click)='segn()'>Segnalazione</button>
    </div>
  </div>

  <div class="componenti">
    <!-- Registrazione -->
    <app-registrazione *ngIf='reg'></app-registrazione>

    <!-- Login -->
    <app-login *ngIf='log'></app-login>

    <!-- Noleggio -->
    <app-noleggio *ngIf='nol'></app-noleggio>

    <!-- Riconsegna -->
    <app-riconsegna *ngIf='ric'></app-riconsegna>

    <!-- Segnalazione -->
    <app-segnalazione *ngIf='seg'></app-segnalazione>

    <div class='jumbotron' *ngIf='err'><h3>Devi effettuare il login per visualizzare questa sezione.</h3></div>
  </div>
</div>
