<div class="container">
  <!-- Intestazione sito, sempre visibile -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-top">
    <a class="navbar-brand" href="#"><i>Mono-Rent</i></a>
  </nav>

  <!-- Bottoni per mostra/nascondi -->
  <div class="navbar justify-content-center menu fixed-top">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)='toggle1()'>Registrazione</button>
      <button type="button" class="btn btn-secondary" (click)='toggle2()'>Login</button>
      <button type="button" class="btn btn-success" (click)='toggle3()'>Noleggio</button>
      <button type="button" class="btn btn-warning" (click)='toggle4()'>Riconsegna</button>
      <button type="button" class="btn btn-danger" (click)='toggle5()'>Segnalazione</button>
    </div>
  </div>

  <div class="componenti">
    <!-- Registrazione -->
    <app-registrazione *ngIf='isViewable1'></app-registrazione>

    <!-- Login -->
    <app-login *ngIf='isViewable2'></app-login>

    <!-- Noleggio -->
    <app-noleggio *ngIf='isViewable3'></app-noleggio>

    <!-- Riconsegna -->
    <app-riconsegna *ngIf='isViewable4'></app-riconsegna>

    <!-- Segnalazione -->
    <app-segnalazione *ngIf='isViewable5'></app-segnalazione>
  </div>
</div>
