<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Prenota una visita</h3>
      <div class="form-group">
        <label>Nome:</label><input name="Nome" #newnome class="form-control">
        <label>Cognome:</label><input name="Cognome" #newcognome class="form-control">
        <label>Indirizzo:</label><input name="Indirizzo" #newindirizzo class="form-control">
        <label>Telefono:</label><input name="Telefono" #newtelefono class="form-control">
        <label>Email:</label><input name="Email" #newemail class="form-control">
        <label>Data Prenotazione:</label><input name="Data" #newdataP class="form-control">
        <label>Ora Prenotazione:</label><input name="Ora" #neworaP class="form-control">
      </div>
    <button (click)="makeCompactRequest(newnome, newcognome, newindirizzo, newtelefono, newemail, newdataP, neworaP)" class="btn btn-primary">
    <!--<button (click)="addArticle(newtitle, newlink)" class="btn btn-primary">-->
      Prenota
    </button>
  </form>
</div>

<!-- <pre>{{data | json}}</pre> -->

<div class="container">
  <h3 class="display-4">Lista prenotazioni</h3>
  <app-prenotazione *ngFor="let pren of prenotazioni" [prenotazione]="pren"></app-prenotazione>
</div>

