<div class="col-md-7">
  <!--Form inserimento-->
  <form>
    <h3>Aggiungi dettagli</h3>
    <div class="form-group">
      <input name="titolo" class="form-control" #newtitolo>
      <input>
      <input>
    </div>
    <button (click)="aggiungi()">Aggiungi</button>
  </form>
  <!--Dettagli-->
  <app-dettaglio [dettaglio]="selectedSong"></app-dettaglio>
</div>

<div class="col-md-5">
  <!--Bottone-->
  <button (click)="mostraNascondi()">Mostra / Nascondi lista</button>
  <!--Lista-->
  <app-song-list  *ngFor="let song of songs" [canzone]="song" (click)="vedi(song)"></app-song-list>
</div>
